
.header-main {
    background-color: #f2f2f2;
    margin: 0 auto;
}

.body {
    overflow: hidden;
}
*{
    background-color: #f2f2f2;
}

.header-container {
    width: 100%;
    margin: 0 auto;
    padding: 6px;
    background-color: #f2f2f2;
    max-width: 100%;
}

.header-inner {
    display: flex;
    flex-wrap: wrap;
}

.options {
    display: none;
    text-align: center;
    gap: 16px;
    list-style-type: none;
    font-size: 12px;
    font-family: "Montserrat", serif;
    color: #3B3B3B;
    font-weight: 500;
}

.icons {
    display: flex;
    text-align: center;
    gap: 15px;
    list-style-type: none;
    font-family: "Montserrat", serif;
    font-size: 16px;
    color: #000;
}

.logo {
    font-weight: 500;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    color: #000;
}

.icons:hover {
    cursor: pointer;
}
.heading{
    text-align: center;
    font-size: 50px;
}
.hero-para{
    text-align: center;
}
.hero-section{
    background-color: #f2f2f2;
}


