
.header-main {
    background-color: #f2f2f2;
    margin: 0 auto;
}



.header-container {
    width: 100%;
    margin: 0 auto;
    padding: 6px;
    background-color: #f2f2f2;
    max-width: 100%;
}

.header-inner {
    display: flex;
    flex-wrap: wrap;
}

.options {
    display: none;
    text-align: center;
    gap: 16px;
    list-style-type: none;
    font-size: 12px;
    font-family: "Montserrat", serif;
    color: #3B3B3B;
    font-weight: 500;
}

.icons {
    display: flex;
    text-align: center;
    gap: 15px;
    list-style-type: none;
    font-family: "Montserrat", serif;
    font-size: 16px;
    color: #000;
    margin-top: 20px;
}

.logo {
    font-weight: 500;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    color: #000;
}

.icons:hover {
    cursor: pointer;
}
.heading{
    text-align: center;
    font-size: 50px;
    font-family: "Marcellus SC", serif;
    font-weight: 600;
}
.hero-para{
    text-align: center;
    font-family: "Libre Baskerville", serif;
    color: #8C907E;
}
.hero-section{
    background-color: #f2f2f2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); 
  }
  
  .swiper-slide img:hover {
    transform: scale(0.9);
    will-change: transform;
    overflow: hidden;
  }
  .form{
    text-align: center;
    border: 1px solid black;
    color: white;
    margin-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
    background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
  }
 .form-header{
   font-size: 30px;
   padding-top: 10px;
   padding-bottom: 10px;
 }
  



