
@media (min-width: 600px) {
    .options {
        font-size: 14px;
        margin-top: 20px;
        display: flex;
    }

    .icons {
        font-size: 20px;
    }

    .logo {
        font-size: 24px;
    }

    .img-para strong {
        font-size: 36px;
    }

    .img-para span {
        font-size: 18px;
    }

    .video-heading {
        font-size: 50px;
    }

    .video video {
        width: 70%;
    }

    .imgtext2 img {
        width: 30%;
    }
}

@media (min-width: 768px) {
    .header-inner {
        justify-content: space-between;
    }

    .options {
        gap: 30px;
        font-size: 16px;
        display: flex;
    }

    .icons {
        font-size: 22px;
    }

    .logo {
        font-size: 28px;
    }

    .img-para strong {
        font-size: 40px;
    }

    .img-para span {
        font-size: 20px;
    }

    .video-heading {
        font-size: 60px;
    }

    .video video {
        width: 60%;
    }

    .imgtext2 img {
        width: 25%;
    }
}

@media (min-width: 1024px) {
    .header-inner {
        justify-content: space-between;
    }

    .options {
        font-size: 20px;
        gap: 35px;
        display: flex;
    }

    .icons {
        font-size: 24px;
    }

    .logo {
        font-size: 32px;
    }

    .img-para strong {
        font-size: 48px;
    }

    .img-para span {
        font-size: 22px;
    }

    .video-heading {
        font-size: 70px;
    }

    .video video {
        width: 50%;
    }

    .imgtext2 img {
        width: 20%;
    }
}
@media screen and (min-width: 1440px) {
    .header-container {
        justify-content: space-around;
    }

    .icons {
        margin-right: 60px;
        font-size: 20px;
    }

    .logo {
        margin-left: 30px;
        margin-top: 10px;
        font-size: 30px;
    }

    .options {
        margin-top: 22px;
        display: flex;
    }
}

@media screen and (min-width: 2560px) {
    .header-container {
        justify-content: space-around;
    }

    .icons {
        margin-right: 60px;
    }

    .logo {
        margin-left: 30px;
        margin-top: 10px;
        font-size: 40px;
    }

    .options {
        margin-top: 30px;
        display: flex;
    }
}